<!--<div *ngFor="let item of items">
  {{ item.address }}
  <img src="{{ item.image }}">
</div>-->
  <div class="container">
    <div class="top-border">

    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="left-navbar shadow bg-white rounded">
          <ul class="p-0 left-navbar__list-parent">
            <ol class="left-navbar__lists">
              <img src="assets/img/list.svg" alt="Ingatlan.com"><span class="m-2">Lista</span>
            </ol>
            <ol class="left-navbar__favorites">
              <img src="assets/img/star.svg" alt="Ingatlan.com"><span class="m-2">Kedvencek</span>
            </ol>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div class="right-list">
          <p class="right-list__title shadow p-3 mb-5 bg-white rounded">
            Lista
          </p>
          <div *ngFor="let item of items">
            <div class="row right-list__listing shadow mb-4 bg-white rounded">
              <div *ngIf="item.status=='checked'" class="right-list__star-container shadow bg-white rounded">
                <img src="/assets/img/checked-star.svg" alt="Ingatlan.com" class="right-list__star-img">
              </div>
              <div *ngIf="item.status=='unchecked'" class="right-list__star-container shadow bg-white rounded">
                <img src="/assets/img/unchecked-star.svg" alt="Ingatlan.com" class="right-list__star-img">
              </div>
              <div class="col-3 p-0">
                <img src="{{ item.image }}">
              </div>
              <div class="col-9">
                <h3 class="right-list__adress">
                  {{ item.address }}
                </h3>
                <p class="right-list__price">
                  {{ item.price }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

